<section class="blog-detail-page">
    <div class="container blog-detail-container">
      <!-- Phần nội dung chính -->
      <div class="blog-content">
        <h1 class="blog-title">{{ blogDetail.title }}</h1>
        <span class="blog-date">{{ blogDetail.date }}</span>
        <div class="blog-body" [innerHTML]="blogDetail.content"></div>
      </div>
  <hr>
      <!-- Phần Tin liên quan -->
      <div class="related-news">
        <!-- Tiêu đề và liên kết Xem thêm -->
        <div class="related-news-header">
          <h2 class="related-news-title">TIN LIÊN QUAN</h2>
          <a href="/tat-ca-blog" class="view-more-link">Xem thêm>></a>
        </div>
        <table class="related-news-table">
          <tr>
            <td *ngFor="let category of relatedCategories" class="related-news-cell">
              <article class="related-news-card">
                <a class="thumb" [href]="category.link" [title]="category.title">
                  <img [src]="category.image" [alt]="category.title" class="lazyload img-responsive">
                </a>
                <h3>
                  <a [href]="category.link" [title]="category.title" class="a-title">{{ category.title }}</a>
                </h3>
                <span>{{ category.date }}</span>
              </article>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>